.sign-up {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  background-color: #2e3737;
  border-radius: 15px;

  .title {
    margin: 10px 0;
    padding: 10px;
    text-align: center;
  }

  .sign-up-form {
    padding: 10px;

    .sign-up-custom-button {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
