.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2e3737;

  .header-logo-container {
    height: 100%;
    width: 70px;
    padding-left: 20px;
    padding-top: 3px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      color: whitesmoke;
    }
  }
}
